<div class="container">
  <div class="jumbotron text-center">
    <h1>Documentation</h1>
  </div>
  This a small application to manage test data in a software development project. I was tired of excel files and thought it would be easier to manage this data online.<br>
  <br>
  You can either use csv import functionality or provided REST API to insert your current data.<br>
  <br>


<div class="form-group">
    <div class="col-md-6">
     <div class="panel panel-danger">
    	<div class="panel-heading">
         <h3 class="panel-title" style="font-weight: bold">Report a Bug or request a feature</h3>
        </div>
    	  <div class="panel-body">
        <b>Known issues:</b><br>
        - csv bulk update instead create<br>
        - show specific errors in bulk upload<br>
        - bulk upload validation<br>
        - automated template download not working<br>
        - error handling in api not yet finalized<br>


    	  </div>
    	</div>
     </div>


     <div class="col-md-6">
      <div class="panel panel-info">
     	<div class="panel-heading">
          <h3 class="panel-title" style="font-weight: bold">Release Notes</h3>
         </div>
     	  <div class="panel-body">
          <b>22.04.2018 - R1.0</b><br>
          - first upload
     	  </div>
     	</div>
    </div>
</div>
